# get your API key from https://app.roboflow.com/settings/api
ROBOFLOW_API_KEY=your_api_key_here

# model to use (browse more at https://universe.roboflow.com)
ROBOFLOW_MODEL_ID=garbage-classification-3/2
